body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    height: 55%;
    text-align: center;
    background-color: #000000;
    padding: 40px;
    border-radius: 10mm;
    color: #f8f9fa;
    box-shadow: 10px 5px 5px #ff0000;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.score {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 300px;
    margin: 0 auto;
    color: rgb(0, 156, 0);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #ff0000;
}

.end-game {
    margin-top: 1rem;
}

#resetBtn {
    width: 177px;
    height: 30px;
    border: none;
    border-radius: 3mm;
    background-color: red;
    color: #fff;
    border: rgb(255, 255, 255) solid 1px;
    margin-bottom: 7px;
    margin-top: 25px;
    cursor: pointer;
    &:hover {
        background-color: #fff;
        color: rgb(0, 156, 0);
        transition: 1s;
    }
}

#soundButton {
    width: 177px;
    height: 30px;
    border: none;
    border-radius: 3mm;
    background-color: red;
    color: #fff;
    border: rgb(255, 255, 255) solid 1px;
    cursor: pointer;
    &:hover {
        background-color: #fff;
        color: rgb(0, 156, 0);
        transition: 1s;
    }
    
}
